[submodule "backend/api-timestamp/timestamp-microservice"]
	path = backend/api-timestamp/timestamp-microservice
	url = https://github.com/escobot/timestamp-microservice.git
[submodule "backend/api-request-header/request-header-parser-microservice"]
	path = backend/api-request-header/request-header-parser-microservice
	url = https://github.com/escobot/request-header-parser-microservice.git
[submodule "backend/api-url-shortener/url-shortener-microservice"]
	path = backend/api-url-shortener/url-shortener-microservice
	url = https://github.com/escobot/url-shortener-microservice.git
[submodule "backend/api-file-metadata/file-metadata-microservice"]
	path = backend/api-file-metadata/file-metadata-microservice
	url = https://github.com/escobot/file-metadata-microservice.git
[submodule "frontend/tribute-page/tribute-page"]
	path = frontend/tribute-page/tribute-page
	url = https://github.com/escobot/tribute-page.git
[submodule "frontend/random-quote-machine/random-quote-machine"]
	path = frontend/random-quote-machine/random-quote-machine
	url = https://github.com/escobot/random-quote-machine.git
